<div class="left-section">
    <div class="card card-flush h-xl-100">

        <div class="card-header pt-7 mb-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder text-gray-800">Kategoriler</span>
                <span class="text-gray-400 mt-1 fw-bold fs-7">Yazılım kategorisindeki text-muted alanlar</span>
            </h3>
        </div>
        <div class="card-body pt-0">


            <div class="d-flex flex-stack">
                <img src="~/images/blog.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="category/blog" class="text-gray-800 fw-bolder text-hover-primary fs-7">Blog
                            Yazıları</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>

            <div class="d-flex flex-stack">
                <img src="~/images/question.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="category/soru-cevap"
                            class="text-gray-800 fw-bolder text-hover-primary fs-7">Soru-Cevap</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>

            <div class="d-flex flex-stack">
                <img src="~/images/project.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="category/proje-tanitim" class="text-gray-800 fw-bolder text-hover-primary fs-7">Proje
                            Tanıtım</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>
            <div class="d-flex flex-stack">
                <img src="~/images/events.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="category/etkinlikler"
                            class="text-gray-800 fw-bolder text-hover-primary fs-7">Etkinlikler</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>
            <div class="d-flex flex-stack">
                <img src="~/images/jobpost.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="category/is-ilanlari" class="text-gray-800 fw-bolder text-hover-primary fs-7">İş
                            İlanları</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>
            <div class="d-flex flex-stack">
                <img src="~/images/groups.png" class="category-icon" style="border-radius: 4px" alt="" />
                <div class="d-flex flex-stack flex-row-fluid d-grid gap-2">
                    <div class="me-5">
                        <a href="gruplar" class="text-gray-800 fw-bolder text-hover-primary fs-7">Gruplar</a>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed my-2"></div>



        </div>

    </div>

</div>

<style>
    .category-icon {
        width: 33px;
        height: 33px;
        margin-right: 10px;
    }
</style>
